@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

body {
font-family: Poppins, sans-serif;
line-height: 1;
margin: auto;
z-index: 0;
}
html{
    scroll-behavior: smooth;
}

#navbar {
background: #00afb1;
color: #000000;
position: fixed;
width: 100%;
top: 0;
z-index: 10;
display: flex;
justify-content: space-between;
padding: 0.8rem;
}

#navbar a {
margin-top: 15px;
text-decoration: none;
font-size: 20px;
}
#navbar ul {
list-style: none;
display: flex;
align-items: center;
margin-right: 30px;
}

#navbar ul li a {
color: #000;
padding: .5rem;
margin: 0 0.25rem;
}

#navbar ul li a:hover {
background: #008385;
border-radius: 500px;
}

#Esileht {
background: #eeecec;
background-size: cover;
background-position: center;
padding: 3rem; 
text-align: auto;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
height: 89.7vh;

}

#Esileht h1 {
font-size: 40px;
color: #000;
}

#Esileht p {
text-align: center;
font-size: 20px; 
}

#Esileht button {
align: center;
margin-top: 70px;
font-size: 20px;
width: 140px;
height: 50px;
border-color: #eeecec;
background-color: #00afb1;
margin-left: 150px;
}
#Esileht button:hover{
transition: 0.35s;
transform: scale(1.2);
background-color: #008385;
}

#footers{
    background-color: #00afb1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    text-align: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
#footers a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

#footers a:hover {
    color: #ccc;
}
    